.venv/
.env/
env/
venv/

__pycache__/

data/**/*.xls
data/**/*.xlsx
data/**/*.csv
data/**/*.tsv
data/**/*.json
data/**/*.parquet

**/.DS_Store
tmp*/

logs/
**/*.log

postgres/data/

dbt/dbt_modules/
dbt/target/
dbt/logs/
dbt/profiles.yml
dbt/.user.yml

.user.yaml

postgres/.env
postgres/create_database.sql

utils/*.csv
utils/*.zip

.env

dagster_home/**/

figures/


*.ipynb
EDA/pyr_agegroups.xlsx
EDA/data/combined_matrix_agegroup.tsv
EDA/data/pyr_agegroups.xlsx
EDA/data/combined_matrix_agegroup_months.tsv
EDA/data/combined_matrix_agegroup_weeks.tsv
EDA/pyr_agegroups_months.xlsx
EDA/pyr_agegroups_weeks.xlsx
EDA/data/pyr_agegroups_months.xlsx
EDA/data/pyr_agegroups_weeks.xlsx
EDA/scripts/casos_denv.tsv
EDA/scripts/casosest_denv.tsv
EDA/scripts/infodengue_casos_filtro.csv
EDA/scripts/arbo_api_infodenv.html
EDA/scripts/arbo_api_infodenv_files/libs/bootstrap/bootstrap-icons.css
EDA/scripts/arbo_api_infodenv_files/libs/bootstrap/bootstrap-icons.woff
EDA/scripts/arbo_api_infodenv_files/libs/bootstrap/bootstrap.min.css
EDA/scripts/arbo_api_infodenv_files/libs/bootstrap/bootstrap.min.js
EDA/scripts/arbo_api_infodenv_files/libs/clipboard/clipboard.min.js
EDA/scripts/arbo_api_infodenv_files/libs/quarto-html/anchor.min.js
EDA/scripts/arbo_api_infodenv_files/libs/quarto-html/popper.min.js
EDA/scripts/arbo_api_infodenv_files/libs/quarto-html/quarto-syntax-highlighting.css
EDA/scripts/arbo_api_infodenv_files/libs/quarto-html/quarto.js
EDA/scripts/arbo_api_infodenv_files/libs/quarto-html/tippy.css
EDA/scripts/arbo_api_infodenv_files/libs/quarto-html/tippy.umd.min.js
