.venv/
.env/
env/
venv/

__pycache__/

data/**/*.xls
data/**/*.xlsx
data/**/*.csv
data/**/*.tsv
data/**/*.json
data/**/*.parquet

logs/
**/*.log

postgres/data/

target/

tmp*/

dbt_modules/

**/.DS_Store

profiles.yml

.user.yaml

postgres/.env
postgres/create_database.sql