.venv/
.env/
env/
venv/

__pycache__/

data/**/*.xls
data/**/*.xlsx
data/**/*.csv
data/**/*.tsv
data/**/*.json
data/**/*.parquet

**/.DS_Store
tmp*/

logs/
**/*.log

postgres/data/

dbt/dbt_modules/
dbt/target/
dbt/logs/
dbt/profiles.yml
dbt/.user.yml

.user.yaml

postgres/.env
postgres/create_database.sql

utils/*.csv
utils/*.zip

.env

dagster_home/**/


## data folder
EDA/data/*

## results folder
EDA/results/*

## Arquivos específicos em results
EDA/results/casos_denv.tsv
EDA/results/casosest_denv.tsv
EDA/results/infodengue_casos_filtro.csv

## figures folder
EDA/figures/*

