version: '2'
services:
  dagster:
    build: .
    environment:
      - DAGSTER_DBT_PARSE_PROJECT_ON_LOAD=1
      - DAGSTER_HOME=/usr/app/arboviroses/dagster_home
      - DAGSTER_PATH_PREFIX=${DAGSTER_PATH_PREFIX}
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/app/arboviroses/
    entrypoint: ["./entrypoint.sh"]
    networks:
      - arbonetwork
      - shared-network
    mem_limit: "3g"
    mem_reservation: "1g"
    memswap_limit: -1  

  xlsx2csv:
    build: ./xlsx2csv_converter
    entrypoint: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "2140"]
    networks:
      - arbonetwork

networks:
  arbonetwork:
    driver: bridge
  shared-network:
    external: true
